.mintGreen{
    color: #29C9BD;
}

.blue{
    color: #0000ff;
}

.green{
    color:#008000;
}

.yellow{
    color: #ffff00;
}

.selected-field{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}