/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  /* Font color */
  input.mat-input-element {
    color: white;
  }